@media (max-width: 1960px) {
  .login-frm {
    width: 80%;
    margin: auto;
    height: auto;
    border-radius: 25px;
    padding: 80px 55px;
    margin-top: 50px;
    margin-bottom: 120px;
  }
  .lft-img {
    text-align: center;
  }
}
@media (max-width: 1300px) {
  .header-wrapper {
    align-items: flex-start;
  }
  menu {
    background: #28cdd6;
    position: absolute;
    padding: 60px;
    opacity: 0;
    visibility: hidden;
    right: -50px;
    top: -50px;
    border-radius: 12px;
    transition: 0.3s;
    overflow: hidden;
  }
  menu.show {
    top: 70px;
    right: 60px;
    visibility: visible;
    opacity: 1;
  }
  menu ul {
    flex-direction: column;
    text-align: center;
  }
  menu ul li a {
    color: #000000;
  }
  .menu-tgl-btn {
    display: block;
  }
  .header-search {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    flex-shrink: 2;
  }
}
